##### Dependencies
nulltype
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.25.3,<2.0.0

##### DEV Dependencies
cov-core==1.15.0
coverage==5.3
flake8==3.8.4
flake8-mutable==1.2.0
mock==4.0.3
py==1.11.0
pytest==6.2.1
pytest-xdist==2.3.0
pytest-cov==2.10.1
sphinx==3.3.1
