##### Dependencies
requests==2.20.0

##### DEV Dependencies
cov-core==1.7
coverage==3.7.1
flake8==2.4.1
flake8-mutable==1.2.0
mock==1.0.1
py==1.5.0
pytest==4.4.0
pytest-xdist==1.34.0
pytest-cov==2.12.1
sphinx==1.5.2
