certifi >= 14.05.14
future; python_version<="2.7"
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1

##### DEV Dependencies
cov-core==1.7
coverage==3.7.1
flake8==2.4.1
flake8-mutable==1.2.0
mock==1.0.1
py==1.4.32
pytest==2.9.2
pytest-cov==1.6
sphinx==1.5.2
