version: 2
jobs:
  build:
    machine: true
    steps:
    - checkout
    - run:
        name: Download OpenAPI file via Curl from github
        command: make pull-openapi
    - run:
        name: Build generated code using docker cli openapigenerator
        command: make build-openapi
    - run:
        name: Build Docker image for running python tests
        command: docker build -t plaid-python .
    - run:
        name: Run python tests in Docker
        command: docker run --rm -e CLIENT_ID=$CLIENT_ID -e SECRET=$SECRET plaid-python
    - store_test_results:
        path: /tmp/circleci-test-results