# VerificationStatus

The verification status. One of the following:  `\"VERIFIED\"`: The information was successfully verified.  `\"UNVERIFIED\"`: The verification has not yet been performed.  `\"NEEDS_INFO\"`: The verification was attempted but could not be completed due to missing information.  \"`UNABLE_TO_VERIFY`\": The verification was performed and the information could not be verified.  `\"UNKNOWN\"`: The verification status is unknown.
## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**value** | **str** | The verification status. One of the following:  &#x60;\&quot;VERIFIED\&quot;&#x60;: The information was successfully verified.  &#x60;\&quot;UNVERIFIED\&quot;&#x60;: The verification has not yet been performed.  &#x60;\&quot;NEEDS_INFO\&quot;&#x60;: The verification was attempted but could not be completed due to missing information.  \&quot;&#x60;UNABLE_TO_VERIFY&#x60;\&quot;: The verification was performed and the information could not be verified.  &#x60;\&quot;UNKNOWN\&quot;&#x60;: The verification status is unknown. |  must be one of ["VERIFIED", "UNVERIFIED", "NEEDS_INFO", "UNABLE_TO_VERIFY", "UNKNOWN", ]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


